@use '../../style/mixins.module.scss';

// default
.input {
  @include mixins.text-preset(14px);
}

// fill
.fill {
  width: 100%;
}
// skin
.noDefault {
  border: 0;
}
.noDefault:focus {
  outline: none;
}
// size
.large {
  @include mixins.text-preset(22px);
}
