.HeaderTimeframe {
  padding-inline-end: 35px;
  border: 1px solid lightgray;
  padding-block: 10px;
  border-radius: 5px;
  appearance: none;
  background: url('./images/chevron-down-icon.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right 10px top 9px;
  transition: 0.2s ease;
  cursor: pointer;
}
.HeaderTimeframe:hover {
  background-color: rgba(211, 211, 211, 0.267);
}
