/* Event modal */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.346);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background: white;
  border-radius: 10px;
  width: 50vw;
  overflow: hidden;
}
.content {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 35px;
  background: rgba(211, 211, 211, 0.246);
}
