@use '../../style/mixins.module.scss';

.modalEventCreation {
  background: white;
  border-radius: 10px;
  display: grid;
  gap: 15px;
  overflow: hidden;
}

.titleContainer {
  height: fit-content;
  margin-inline-start: 40px;
  border-bottom: 1px solid lightgray;
  transition: 0.2s ease-in-out;
}

.titleContainer:focus-within {
  border-bottom: 2px solid rgb(0 110 255);
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.error {
  width: fit-content;
  margin-inline-start: 40px;
  margin-block: 0;
  padding-inline: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 7px;
}
