.ModalEventCreation {
  background: white;
  border-radius: 10px;
  display: grid;
  gap: 15px;
  overflow: hidden;
  width: 50vw;
}

.title-container {
  height: 28px;
  padding-inline-start: 60px;
  padding-inline-end: 20px;
}
.title-input {
  width: 100%;
  border-bottom: 1px solid lightgray;
  transition: 0.1s ease;
  font-size: 22px;
}
.title-input:focus {
  border-bottom: 2px solid rgb(0, 110, 255);
}
.event-conference-btn {
  background: rgb(0, 110, 255);
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.event-conference-btn:hover {
  color: rgb(0, 110, 255);
  border: 1px solid rgb(0, 110, 255);
  background: white;
}
.event-modal-footer {
  padding: 20px 20px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.event-modal-save-btn {
  background: rgb(0, 110, 255);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
}
.event-modal-save-btn:hover {
  color: rgb(0, 110, 255);
  border: 1px solid rgb(0, 110, 255);
  background: white;
}
.event-modal-more-options-btn {
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  color: gray;
}

/* for inspect */
.event-modal-info {
  padding-inline-start: 20px;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
}
.event-modal-info:last-child {
  margin-block-end: 20px;
}
.event-modal-info span {
  font-weight: 400;
}
.Modal--error {
  width: fit-content;
  margin-inline-start: 60px;
  padding-inline: 10px;
  color: red;
  border: 1px solid red;
}
