@use '../../style/mixins.module.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 20px 10px;

  padding-inline: 9px;
}
.heading {
  @include mixins.text-preset(18px);
  margin: 0;
}
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
