@use '../../style/mixins.module.scss';

.mainCalendarHeader {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-inline-start: 60px;
  padding-block: 15px 10px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  background: white;
  z-index: 1;
  min-width: 800px;
}

.heading {
  @include mixins.text-preset;

  color: gray;
  letter-spacing: 1.3px;
  line-height: 35px;
}

.headingActive {
  color: rgb(0 110 255);
}

.headingNumber {
  color: rgb(0 0 0 / 70.1%);
  font-size: 24px;
}

.headingNumberActive {
  font-size: 24px;
  padding: 7px;
  color: white;
  background: rgb(0 110 255);
  border-radius: 50%;
}

.GMT {
  @include mixins.text-preset;

  position: absolute;
  left: 0;
  bottom: 10px;
  color: gray;
}
