@use '../../style/mixins.module.scss';

.current {
  @include mixins.text-preset(14px);

  color: black;
  line-height: 25px;
}

.notCurrent {
  @include mixins.text-preset(14px);

  margin-block: 0;
  color: gray;
  line-height: 25px;
}

.today {
  color: white;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.box {
  width: 31px;
  height: 29px;
}
